# Navigation
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias ......='cd ../../../../..'
alias .......='cd ../../../../../..'
alias ........='cd ../../../../../../..'
alias .........='cd ../../../../../../../..'
alias ..........='cd ../../../../../../../../..'

# Shortcuts to filepaths
alias aliases='vim ~/.aliases; source ~/.aliases'
alias vimrc='vim ~/.vimrc'

# Fileutil
alias fls='fileutil ls'
alias fcp='fileutil cp'

# Kill port 8888
alias killport='fuser -k 8888/tcp'

# Edit vimrc's
alias vimrc='vim -O ~/.vim_runtime/vimrcs/basic.vim ~/.vim_runtime/vimrcs/extended.vim ~/.vim_runtime/vimrcs/plugins_config.vim'

# tmux
alias ta='tmux attach -t'
alias tk='tmux kill-session -t'
alias tls='tmux ls'
alias trename='tmux rename-session -t'
alias tnew='tmux new -s'

# Dotfiles config alias
alias config='/usr/bin/git --git-dir=$HOME/.cfg/ --work-tree=$HOME'

# Git 
alias gs="git status"
alias gb="git branch"
alias gd="git diff"
alias gdc='git diff --cached'
alias ga="git add"
alias gc="git commit -m"
alias gl="git log -n 10 --oneline"
alias gdlc="git diff HEAD~ HEAD"  # view last commit diff
alias gitclean='git checkout -- .'

# Pbcopy over SSH - on remote
# alias pbcopy="/usr/local/bin/rpbcopy"

# Encouraging message
alias sigh='there there you can do it :-) i believe in you'
